---
import Code from "@/components/ui/code.astro";
import Description from "@/components/ui/description.astro";
import Section from "@/components/ui/section.astro";
import Subtitle from "@/components/ui/subtitle.astro";
import Terminal from "@/components/ui/terminal.astro";
import { homePageConfig } from "@/config/home";
---

<Section id="about" variant="muted">
  <div class="grid items-center gap-16 lg:grid-cols-2">
    <div class="space-y-4">
      <Code>
        {homePageConfig.about.code}
      </Code>
      <Subtitle>
        {homePageConfig.about.title}
      </Subtitle>
      <Description class="text-lg leading-relaxed">
        {homePageConfig.about.description}
      </Description>
      <ul class="text-muted-foreground space-y-3">
        {
          homePageConfig.about.bullets.map((bullet) => (
            <li class="flex items-start gap-3">
              <div class="bg-foreground mt-2 size-1 rounded-full" />
              <span>{bullet}</span>
            </li>
          ))
        }
      </ul>
    </div>

    <Terminal title={homePageConfig.about.terminal.title}>
      <div class="text-muted-foreground space-y-3 text-sm">
        <div>
          {homePageConfig.about.terminal.file}
        </div>

        <div class="mt-6 space-y-3">
          {
            homePageConfig.about.terminal.commands.map((command) => (
              <div>{command}</div>
            ))
          }
        </div>

        <div class="mt-6">
          {homePageConfig.about.terminal.outputLabel}
        </div>
        <div class="text-foreground/90 font-medium">
          {
            homePageConfig.about.terminal.outputs.map((output) => (
              <div>{output}</div>
            ))
          }
        </div>
      </div>
    </Terminal>
  </div>
</Section>
