---
import Link from "@/components/ui/link.astro";
import Logo from "@/components/ui/logo.astro";

import { headerConfig } from "@/config/header";
---

<header
  class="bg-background/95 supports-[backdrop-filter]:bg-background/60 border-border sticky top-0 z-50 w-full border-b backdrop-blur"
>
  <div
    class="container mx-auto flex h-16 max-w-6xl items-center justify-between px-4"
  >
    <a
      href={headerConfig.home.href}
      aria-label={headerConfig.home.ariaLabel}
      class="flex items-center"
    >
      <Logo />
    </a>

    <div class="flex space-x-8">
      <nav class="hidden items-center space-x-8 md:flex">
        {
          headerConfig.navigationLinks.map((link) => (
            <Link href={link.href} variant="nav">
              {link.label}
            </Link>
          ))
        }
      </nav>
      <Link href={headerConfig.cta.href} variant="subtle">
        {headerConfig.cta.label}
      </Link>
    </div>
  </div>
</header>
