---
import Code from "@/components/ui/code.astro";
import Description from "@/components/ui/description.astro";
import Link from "@/components/ui/link.astro";
import Section from "@/components/ui/section.astro";
import Subtitle from "@/components/ui/subtitle.astro";
import Terminal from "@/components/ui/terminal.astro";
import { homePageConfig } from "@/config/home";
import { Icon } from "astro-icon/components";

const CHECK_MARK = "✓";
---

<Section id="join" class="text-center">
  <div class="space-y-4">
    <Code>
      {homePageConfig.join.code}
    </Code>
    <Subtitle>
      {homePageConfig.join.title}
    </Subtitle>
    <Description>
      {homePageConfig.join.description}
    </Description>
  </div>

  <div class="mx-auto max-w-2xl space-y-12">
    <Terminal title="aplikacja.sh">
      <div class="space-y-2 text-left">
        <Code>
          {homePageConfig.join.terminal.command}
        </Code>
        <div class="text-muted-foreground/90 text-sm">
          {homePageConfig.join.terminal.loadingText}
        </div>
        <div class="text-muted-foreground mt-4 space-y-1 text-sm">
          {
            homePageConfig.join.terminal.requirements.map((req) => (
              <div>
                {CHECK_MARK} {req}
              </div>
            ))
          }
        </div>
        <div class="border-border/60 mt-4 border-t pt-2">
          <Code>
            {homePageConfig.join.terminal.confirmation}
          </Code>
        </div>
      </div>
    </Terminal>

    <Link href={homePageConfig.join.cta.href} size="lg">
      {homePageConfig.join.cta.label}
      <Icon name={homePageConfig.join.cta.icon} />
    </Link>
  </div>
</Section>
